################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/SampleForBuild/.vs/SampleForBuild
/SampleForBuild/App_Data/SenparcTraceLog
/SampleForBuild/App_Data/WeChat_OfficialAccount/2021-06-06
/SampleForBuild/bin
/SampleForBuild/obj
*.user
.vs/
bin/
obj/
/SenparcTraceLog
/DeepDotNet6/WeixinSample/App_Data/SenparcTraceLog
/DeepDotNet6/WeixinSample/App_Data/WeChat_OfficialAccount/2021-06-05
