################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/SampleForBuild/.vs/SampleForBuild
/SampleForBuild/App_Data/SenparcTraceLog
/SampleForBuild/App_Data/WeChat_OfficialAccount/2021-06-06
/SampleForBuild/bin
/SampleForBuild/obj
*.user
/DotNet6/.vs/DotNet6
/DotNet6/bin/Debug/net6.0
/DotNet6/obj
